<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos Atualizados</title>
</head>
<body>
    <h1>Lista de Produtos Atualizados</h1>
    <ul>
        <% produtos.forEach(produto => { %>
            <li><%= produto.gtin %> - </li>
        <% }); %>
    </ul>
</body>
</html>
